/* Estilo para los productos */
.product-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    text-align: center;
}

.product-item img {
    margin-top: 10px;
    border-radius: 5px;
}

#add-product-form {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
}

#add-product-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#add-product-form input,
#add-product-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#add-product-form button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#add-product-form button:hover {
    background-color: #218838;
}