@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    
    color: #333;
    padding: 10px 20px;
    text-align: center;
}


/* Estilo para los encabezados h2 */
h2 {
    font-family: 'Dongle', sans-serif; /* Fuente Dongle */
    font-weight: 500; /* Bold */
    font-size: 1.8rem; /* Tamaño uniforme */
    color: #333; /* Color del texto */
    text-align: left; /* Alineación a la izquierda */
    margin-bottom: 0.5rem; /* Espaciado inferior */
    margin-left: 10px; /* Espaciado desde el borde izquierdo */
    line-height: 0.9; /* Define un interlineado del 150% del tamaño de la fuente */

}

main {
    padding: 20px;
}

h1 {
    color: #333;
}


/* Estilo general para párrafos */
.paragraph {
    font-size: 1.4rem;
    color: #666;
    font-family: 'Dongle', sans-serif;
}

/* Estilo para texto destacado dentro de párrafos */
.paragraph-strong {
    font-family: 'Dongle', sans-serif; /* Fuente Dongle */
    font-weight: 500; /* Bold */
    font-size: 1.5rem; /* Tamaño uniforme */
    color: #333; /* Color del texto */
    text-align: left; /* Alineación a la izquierda */
    margin-bottom: 0.5rem; /* Espaciado inferior */
    margin-left: 10px; /* Espaciado desde el borde izquierdo */
    line-height: 0.9; /* Define un interlineado del 150% del tamaño de la fuente */
}



#cart-items, #account-section {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-item:last-child {
    border-bottom: none;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.checkout-header {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    text-align: center;
}

.back-link {
    font-size: 1rem;
    color: #374151;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

/* Estilo para el título */
.title {
    font-size: 1.8rem;
    color: #333;
    font-family: 'Poetsen One', sans-serif;
    margin: 0;
}

/* Estilo para el subtítulo */
.subtitle {
    font-size: 1.4rem;
    color: #666;
    font-family: 'Dongle', sans-serif;
    margin-top: -5px; /* Reduce el espacio entre el título y el subtítulo */
}

