@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    text-align: center;
}



main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

#cart-items, #account-section {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-item:last-child {
    border-bottom: none;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.checkout-header {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    text-align: center;
}

.back-link {
    font-size: 1rem;
    color: #374151;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

