<!-- components/navbar.html -->
<nav class="main-navbar">
  <div class="navbar-content">
    <button id="control-panel-toggle" class="navbar-hamburger-btn" onclick="toggleControlPanel()">
      <i class="bi bi-list"></i>
    </button>
    <!-- Contenedor para el título y el slogan -->
    <div class="navbar-brand">
      <h1 class="navbar-title">Fuddi</h1>
      <p class="navbar-slogan">Are you hungry?</p>
    </div>
    <span id="navbar-active-orders" class="navbar-active-orders">Cargando pedidos...</span>
  </div>
</nav>